---
import { Image } from 'astro:assets'
import img from '../../DSC_1925.jpg'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Test</title>
</head>
<body>
    <!-- Basic image with the same resolution as the benchmarj -->
    <Image src={img} format='webp' quality={80} width={2000} alt="" />

    <!-- Benchmark image received after running `node generate.js` -->
    <img src="../../DSC_1925_resize.webp" />
</body>
</html>

<style is:global>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: contain;
        background-color: black;
        width: 100%;
        height: 100%;
        display: block;
    }
</style>